<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traveler </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="GetTemplates.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Content/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="/Content/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/Content/css/magnific-popup.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/Content/css/bootstrap-datepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('.slick-slider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    </script>
</head>
<body> 
    <div id="page">
        <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_2.jpg); height: 0px !important">
            <nav class="gtco-nav" role="navigation">
                <div class="gtco-container">
                    <div class="row">
                        <div id="gtco-logo">
                            <a href="~/Home/Index">Traveler <em>.</em></a>
                            <ul style="float:right">
                                <li><a href="~/Destination/Destination">Điểm Đến</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Du Lịch</a>

                                    <ul class="dropdown">
                                        @Html.Action("MenuDestination", "Home")
                                    </ul>
                                </li>
                                <li><a href="~/Pricing/Pricing">Giá Cả</a></li>
                                <li><a href="~/Contact/Contact">Liên Hệ</a></li>
                                <li><a href="@Url.Action("Register", "Home")">Đăng Ký</a></li>
                                <li><a href="@Url.Action("Login", "Home")">Đăng Nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>  
        </header>

        @RenderBody();

        <footer id="gtco-footer" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-p	b-md">

                    <div class="col-md-4">
                        <div class="gtco-widget">

                            <h3>Giới Thiệu</h3>
                            <p>
                                Travel Tour mang đến những trải nghiệm du lịch đáng nhớ khắp thế giới, giúp bạn khám phá và kết nối văn hóa đa dạng.
                            </p>
                         

                            <p><a href="#">Hãy Đăng Ký Ngay</a></p> 
                        </div>
                    </div>

                    <div class="col-md-2 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Điểm Đến</h3>
                            <ul class="gtco-footer-links">
                                <li><a href="#">Việt Nam</a></li>
                                <li><a href="#">Thái Lan</a></li>
                                <li><a href="#">Nhật Bản</a></li>
                               
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Hỗ Trợ</h3>
                            <ul class="gtco-footer-links">
                                <li><a href="#">Thanh Toán</a></li>
                                <li><a href="#">Thay Đổi Tour</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Tin Tức</a></li>
                                <li><a href="#">Đánh Giá</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Liên Hệ </h3>
                            <ul class="gtco-quick-contact">
                                <li><a href="#"><i class="icon-phone"></i> 1 234 567 890</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> nhanbtt21@uef.edu.vn</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> datlt519@uef.edu.vn</a></li>
                                <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row copyright">
                    <div class="col-md-12">
                     
                        <p class="pull-right">
                            <ul class="gtco-social-icons pull-right">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
        <!-- </div> -->

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Content/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="/Content/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="/Content/js/jquery.countTo.js"></script>

    <!-- Stellar Parallax -->
    <script src="/Content/js/jquery.stellar.min.js"></script>

    <!-- Magnific Popup -->
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/magnific-popup-options.js"></script>

    <!-- Datepicker -->
    <script src="/Content/js/bootstrap-datepicker.min.js"></script>


    <!-- Main -->
    <script src="/Content/js/main.js"></script>

</body>
</html>



