

@{
    ViewBag.Title = "Pricing";
}
<head>
    <style>
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta name="geo.region" content="VN">
        <meta name="geo.position" content="10.77997, 106.694979">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="geo.placename" content="Hồ Chí Minh">
        <meta name="copyright" content="&amp;copy; travel.com.vn">
        <meta name="googlebot" content="all, index, follow">
        <meta name="pagerank" content="8">
        <meta name="Area" content="Hanoi, Saigon, HoChiMinh, Danang,  Vietnam, Nhatrang, Cantho">
        <meta name="revisit-After" content="1 days">
        <meta name="distribution" content="Global">
        <meta name="rating" content="general">
        <meta name="doc-type" content="web page">
        <meta name="pics-label" content="G">
        <meta name="serps" content="1, 2, 3, 10, 11, 12, 13, ATF">
        <meta name="seoconsultantsdirectory" content="8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-control" content="max-age:31536000">
        <meta property="fb:app_id" content="486170608123974">
        <meta property="fb:admins" content="863410417387561">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?display=swap">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css?display=swap" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="apple-touch-icon" href="/vietravel192.png">
        <link rel="manifest" href="/manifest.json">
        <link ref="stylesheet" href="/assets/hotelflight/styles/page-main.css">
        <title>Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel</title>
        <meta name="keywords" content="Bangkok, Pattaya, Thai Lan, Bảo tàng Lighting Art, Khao Che Chan, Wat Benchamabophit, Safari World ">
        <meta name="description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <link name="canonical" rel="canonical" href="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta property="og:title" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta property="og:description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <meta property="og:url" content="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta property="og:image" content="https://media.travel.com.vn/Destination/large/tf__230515102240_921101.jpg">
        <meta property="og:image:alt" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta property="og:type" href="https://travel.com.vn" content="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <link name="alternate" rel="alternate" href="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta name="twitter:description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <meta name="twitter:image" content="https://media.travel.com.vn/Destination/large/tf__230515102240_921101.jpg">
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-39GJVRHQ6K&amp;l=dataLayer&amp;cx=c"></script>
        <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-P3D5RK"></script>
        <script type="text/javascript">!function (e, t, a, n, g) { e[n] = e[n] || [], e[n].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var m = t.getElementsByTagName(a)[0], r = t.createElement(a); r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-P3D5RK", m.parentNode.insertBefore(r, m) }(window, document, "script", "dataLayer")</script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=GTM-P3D5RK" type="text/javascript"></script>
        <script type="text/javascript">function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "GTM-P3D5RK")</script>
        <script defer="defer" src="/static/js/main.fc754cba.js" type="text/javascript"></script>
        <link href="https://travel.com.vn/static/css/main.ff4a18b5.css" rel="stylesheet">
        <script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/10799997474/?random=1719111841469&amp;cv=11&amp;fst=1719111841469&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45je46j0v9117034688z86778132za200zb6778132&amp;gcd=13l3l3l3l1&amp;dma=0&amp;tag_exp=0&amp;u_w=1920&amp;u_h=1080&amp;url=https%3A%2F%2Ftravel.com.vn%2FtourNNSGN1351-034-270624VN-D%2Fthai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau%2C-tham-quan-safari-world-bangkok%2C-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx&amp;ref=https%3A%2F%2Fwww.google.com.vn%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Th%C3%A1i%20Lan%3A%20Pattaya%20-%20Bangkok%20(B%E1%BA%A3o%20t%C3%A0ng%20Lighting%20Art%20%26%20V%C6%B0%E1%BB%9Dn%20khinh%20kh%C3%AD%20c%E1%BA%A7u%2C%20Tham%20quan%20Safari%20World%20Bangkok%2C%20%C4%90%E1%BB%81n%20Ch%C3%A2n%20L%C3%BD%20%26%20Th%C6%B0&amp;npa=0&amp;pscdl=noapi&amp;auid=1827847063.1719111646&amp;uaa=x86&amp;uab=64&amp;uafvl=Not%252FA)Brand%3B8.0.0.0%7CChromium%3B126.0.6478.114%7CMicrosoft%2520Edge%3B126.0.2592.68&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;fdr=QA&amp;data=event%3Dgtag.config&amp;rfmt=3&amp;fmt=4"></script>
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/442.eb55e9c6.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/678.378984e0.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/939.a4b76370.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/824.38c6e015.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/813.691deef7.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/924.d3931808.chunk.css">
    </head>
    <style>
        .beautiful-title {
            font-size: 3em;
            color: #ffffff;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(135deg, #ff4081, #3f51b5);
            padding: 50px 40px;
            border-radius: 10px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s;
        }

            .beautiful-title:hover {
                transform: scale(1.05);
            }
    </style>
</head>
<div class="gtco-loader"></div>

<div id="page">


    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="height:30%;background-image: url(~/Content/images/img_2.jpg)">

        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">

                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1 class="beautiful-title">Lịch Trình</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="container-xl">
        <div class="row">
            <div class="one">
                <h1 style="color:crimson; font-size:30px">
                    Hàn Quốc: Seoul - Lotte World - Lotte Aquarium - Đảo Nami - Vườn Morning Calm - Busan - Ngôi làng bích họa Gamchoen | Trải nghiệm tàu cao tốc KTX (4 đêm khách sạn)
                </h1>
            </div>

        </div>
        <section class="section-02 "><div class="container "><div class="row animate__fadeIn animate__animated"><div class="col-lg-7 col-md-12 col-sm-12 left "><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_240322090148_282176_nami mùa  xuan hè.jpg" class="img-fluid" alt="image"></div></div><div class="col-lg-5 col-md-12 col-sm-12 right"><div class="row gy-4"><div class="col-md-12 col-12 small"><div class="row mb-2"><div class="col-6"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_230718020509_991444_lotte-world (7).jpg" class="img-fluid" alt="image"></div></div><div class="col-6"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_230718020525_936620_Gyeongbokgung.jpg" class="img-fluid" alt="image"></div></div></div></div><div class="col-md-12 col-12 big"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_240322090212_027432_7.jpg" class="img-fluid" alt="image"></div></div></div></div></div></div></section>
        <div class="overview active"><section class="section-03 mb-5"><div class="container"><div class="row"><div class="col-md-5 col-12 left"><div class="box-order"><div class="time"><p>Khởi hành <b> 01/07/2024 - Giờ đi: 23:07</b></p><p>Tập trung <b>20:07 ngày 01/07/2024</b></p><p>Thời gian <b>6 ngày</b></p><p>Nơi khởi hành <b>TP. Hồ Chí Minh</b></p><p>Số chỗ còn nhận <b>9</b></p></div><div class="calendar"><div class="calendar-box"><i class="icon icon--calendar"></i></div></div></div><div class="box-support"><label>Quý khách cần hỗ trợ?</label><div class="group-contact"><a href="https://webcall.talking.vn/frame-click-to-call/new?code=tCEZl1-MKPuA6JU-czVAScCb0pPkHmPt" target="_blank" class="phone"><i class="icon icon--phone"></i><p>Gọi miễn phí <br>qua internet</p></a><a href="mailto:info@vietravel.com" class="mail"><i class="icon icon--mail"></i><p>Gửi yêu cầu <br>hỗ trợ ngay</p></a></div></div></div><div class="col-md-7 col-12 right"><div class="group-services"><div class="item"><label>Thời gian</label><p>6 ngày 5 đêm</p></div><div class="item"><label>Phương tiện di chuyển</label><p>Máy bay, Xe du lịch</p></div><div class="item"><label>Điểm tham quan</label><p>Hàn Quốc, Seoul, Namsan, Everland, Nami</p></div><div class="item"><label>Ẩm thực</label><p>Buffet sáng, Theo thực đơn</p></div><div class="item"><label>Khách sạn</label><p>Khách sạn 3 sao</p></div><div class="item"><label>Thời gian lý tưởng</label><p>Quanh năm</p></div><div class="item"><label>Đối tượng thích hợp</label><p>Cặp đôi, Gia đình nhiều thế hệ, Thanh niên</p></div><div class="item"><label>Ưu đãi</label><p>Đã bao gồm trong giá tour</p></div></div></div></div></div></section></div>
        <div class="map-route">
            <section class="section-06 mb-5"><div class="container"><div class="row"><div class="col-md-12 col-12"><h2 class="mb-4">Lịch trình</h2></div></div></div></section><section class="section-07-map mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 d-none d-md-block col-12 left"><div class="go-tour"><div class="day day-001"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">1</span><span class="date-right"><span class="date">01/07/2024</span><span class="location">TP HỒ CHÍ MINH – SEOUL                                            (Nghỉ đêm trên máy bay)</span></span></div></div><div class="day day-011"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">2</span><span class="date-right"><span class="date">02/07/2024</span><span class="location">SEOUL – CÔNG VIÊN LOTTE WORLD                                             (Ăn ba bữa) </span></span></div></div><div class="day day-021"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">3</span><span class="date-right"><span class="date">03/07/2024</span><span class="location">SEOUL                                                                                                          (Ăn ba bữa)</span></span></div></div><div class="day day-031"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">4</span><span class="date-right"><span class="date">04/07/2024</span><span class="location">SEOUL -  ĐẢO NAMI – VƯỜN MORNING CALM                          (Ăn ba bữa)</span></span></div></div><div class="day day-041"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">5</span><span class="date-right"><span class="date">05/07/2024</span><span class="location">SEOUL – BUSAN                                               (Ăn ba bữa)</span></span></div></div><div class="day day-051"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">6</span><span class="date-right"><span class="date">06/07/2024</span><span class="location">BUSAN – TP HỒ CHÍ MINH                                                                            (Ăn sáng)</span></span></div></div></div></div><div class="col-md-8 col-12 right timeline-section">
                            <div>
                                <h3 id="day-00">Ngày 1 - TP HỒ CHÍ MINH – SEOUL                                            (Nghỉ đêm trên máy bay)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">Hướng dẫn viên Vietravel đón Quý khách tại Ga đi Quốc Tế để làm thủ tục đáp chuyến bay đi Seoul - Hàn Quốc. Quý khách nghỉ đêm trên máy bay. &nbsp;</p>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-01">Ngày 2 - SEOUL – CÔNG VIÊN LOTTE WORLD                                             (Ăn ba bữa) </h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">Đến sân bay quốc tế Incheon, Trưởng đoàn Vietravel hỗ trợ làm thủ tục nhập cảnh. Sau đó, Quý khách được tặng 1 phần<strong> “Năng lượng ngày mới” </strong>gồm bánh qui giòn (cracker) và sữa chuối nổi tiếng của Hàn Quốc.&nbsp;</p>

                                        <p style="text-align:justify">
                                            Xe đón đoàn đi dùng bữa sáng và bắt đầu di chuyển tham quan:<br>
                                            <br>
                                            <strong>- Công Viên Lotte World -</strong> là công viên có khu trò chơi trong nhà lớn nhất thế giới. Không chỉ lớn nhất, nó còn vô cùng hấp dẫn với nhiều hoạt động và trò chơi mà không phải nơi nào cũng có. Nơi đây thu hút hàng triệu du khách ghé thăm mỗi năm.<br>
                                            <br>
                                            <strong>- Thủy cung Lotte Aquarium:</strong> Quý khách có thể tìm hiểu về cuộc sống biển cả qua việc khám phá các khu vực khác nhau theo nhiều chủ đề đa dạng. Tại đây có hơn 40,000 động vật của hơn 650 loài; với hơn 90 bể trưng bày lớn bao gồm Khu khám phá và Khu vực theo chủ đề.&nbsp;<br>
                                            <br>
                                            Sau đó, Quý khách khám phá kinh đô thời trang bật nhất tại Hàn Quốc<strong> Myeongdong Fashion Street,</strong> đây cũng chính là con đường không chỉ bán rất nhiều mặc hàng thời trang khác nhau mà tại đây ẩm thực cũng phổ biến bày bán đủ loại mặt hàng vô cùng đa dạng và phong phú
                                        </p>

                                        <p style="text-align:justify">
                                            Kết thúc tham quan xe đưa đoàn dùng bữa tối về khách sạn nghỉ ngơi.<br>
                                            &nbsp;
                                        </p>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-02">Ngày 3 - SEOUL                                                                                                          (Ăn ba bữa)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">
                                            Sau khi dùng bữa sáng tại khách sạn, đoàn bắt đầu hành trình tham quan:&nbsp;<br>
                                            <br>
                                            - Quý khách tham quan mua sắm tại <strong>cửa hàng nhân sâm và cửa hàng mỹ phẩm.</strong><br>
                                            <br>
                                            - <strong>Cung điện Hoàng Gia Gyeongbok</strong>, được coi là công trình nghệ thuật nổi tiếng có phong cách và kiến trúc độc đáo và đẹp nhất Seoul.<br>
                                            <br>
                                            - <strong>Bảo tàng văn hoá truyền thống quốc gia</strong> - Là bảo tàng hàng đầu trưng bày văn hóa dân gian Hàn Quốc qua các triều đại với rất nhiều hiện vật và mô hình.<br>
                                            <br>
                                            - Chụp hình<strong> “Nhà Xanh” (Cheongwadae)</strong> - Là nơi ở và làm việc của các đời Tổng thống Hàn Quốc (tham quan chụp hình bên ngoài).<br>
                                            <br>
                                            - <strong>Tháp Namsan N Tower </strong>– là địa điểm nổi tiếng với các cặp tình nhân. Họ đến đây và gắn lên cây tình yêu hoặc lan can những chiếc khóa với cầu mong sự lâu bền trong tình yêu của mình . Quý khách có thể ngắm toàn cảnh thành phố Seoul từ trên cao (chụp hình bên ngoài, không bao gồm chi phí lên tháp).<br>
                                            <br>
                                            - Tiếp tục tham quan <strong>khu phố Insadong Antique &amp; Arts Gallery Street</strong> với rất nhiều các quán cà phê, nhà hàng và các phòng trưng bày. Có khoảng 100 phòng trưng bày trong khu vực giúp du khách tìm hiểu về các loại hình nghệ thuật truyền thống Hàn Quốc.<br>
                                            <br>
                                            Quý khách thưởng thức 1 trong 2 chương trình biểu diễn nghệ thuật đặc sắc:<br>
                                            <br>
                                            - <strong>Nanta Show</strong>: Màn trình diễn nhạc kịch không lời hài hước được lồng ghép khéo léo các văn hóa đặc trưng, hứa hẹn sẽ mang đến cho bạn một trải nghiệm không thể quên cho chuyến đi của mình hoặc<br>
                                            <br>
                                            - <strong>Hero Drawing Show: </strong>Đây là một màn trình diễn độc nhất vô nhị kết hợp giữa nền giải trí Hàn Quốc nổi tiếng thế giới với các nghệ sĩ tài năng. Sử dụng 10 kỹ thuật khác nhau – tất cả mọi thứ từ hành động vẽ đến tốc độ vẽ, kèm theo tác phẩm được tạo ra từ 200 khối Rubik – tác phẩm nghệ thuật đại diện cho ‘anh hùng’ từ lịch sử, âm nhạc và truyện tranh. Chương trình mang tên “Hero” vì các bức tranh là nhân vật nổi tiếng Michael Jackson, Bruce Lee và Marilyn Monroe…<br>
                                            <br>
                                            Kết thúc tham quan xe đưa đoàn đến địa điểm dùng bữa tối. Về khách sạn nghỉ ngơi.&nbsp;<br>
                                            &nbsp;
                                        </p>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-03">Ngày 4 - SEOUL -  ĐẢO NAMI – VƯỜN MORNING CALM                          (Ăn ba bữa)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">
                                            Sau khi dùng bữa sáng, đoàn bắt đầu hành trình tham quan:&nbsp;<br>
                                            <br>
                                            - Tham quan mua sắm tại <strong>cửa hàng tinh dầu thông đỏ, thảo dược và cửa hàng miễn thuế Shilla Duty.</strong><br>
                                            <br>
                                            Sau đó di chuyển đến <strong>Đảo Nami </strong>- đắm mình trong “Bản tình ca mùa đông” ngoài đời thực. Nơi đây từng là phim trường lãng mạn tạo nên tuyệt tác điện ảnh xứ sở Kim Chi. Nằm cách thủ đô Seoul 63 km, Đảo Nami xinh đẹp và bình yên bởi hệ thực vật với hơn 200 loại cây khác nhau. Nổi tiếng nhất là những tán lá phong cùng hàng ngân hạnh thẳng tắp đặc biệt là vào mùa thu.<br>
                                            <br>
                                            Tiếp tục hành trình khám phá <strong>khu vườn Morning Calm</strong>, khu vườn được xây dựng thể hiện vẻ đẹp tự nhiên của Hàn Quốc, tinh thần của người Hàn Quốc và chất huyền bí phương đông. Đến đây, Quý khách &nbsp;không chỉ ngây ngất bởi vẻ đẹp của các loài hoa cỏ, mà còn được tận hưởng một bầu không khí trong lành. Những con đường đi bộ sẽ dẫn lối du khách đến những luống hoa bốn mùa rực rỡ và những thảm cỏ được cắt tỉa công phu.<br>
                                            <br>
                                            Kết thúc tham quan, xe di chuyển đưa Quý khách dùng bữa tối, về khách sạn và nghỉ đêm tại Seoul.<br>
                                            &nbsp;
                                        </p>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-04">Ngày 5 - SEOUL – BUSAN                                               (Ăn ba bữa)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">
                                            Sau khi ăn sáng tại khách sạn, đoàn làm thủ tục trả phòng. Quý khách trải nghiệm <strong>tàu KTX đến Busan</strong> – tàu siêu cao tốc của Hàn Quốc với vận tốc lên đến 300km/h.&nbsp;<br>
                                            <br>
                                            <strong>Đến Busan</strong>, xe đưa đoàn di chuyển tham quan:<br>
                                            <br>
                                            <strong>- Làng văn hóa Gamcheon</strong> với sự đối lập với những tòa nhà chọc trời ở Busan hiện đại và cảnh tấp nập huyên náo ở khu chợ Busan cổ. Ngôi làng được quy hoạch kiểu bậc thang. Nhà được xây thoai thoải theo sườn đồi, tạo sự thông thoáng cho từng căn nhà. Các sinh viên, nghệ sĩ và cả người dân đều tham gia, chung tay biến Gamcheon thành không gian trưng bày nghệ thuật công cộng khổng lồ. Làng thay 'áo mới' với nhiều hình vẽ, tượng đầy màu sắc sặc sỡ ở khắp mọi nơi. Gamcheon từ đó được ví như "Machu Picchu Hàn Quốc" hay "Santorini Hàn Quốc", ám chỉ hai địa danh nổi tiếng thế giới ở Peru và Hy Lạp.<br>
                                            <br>
                                            <strong>- Haeundae Blue Line Train </strong>(bao gồm vé 2 chiều) – một điểm đến yêu thích của giới trẻ Hàn Quốc vào mùa hè năm nay nhờ có nhiều góc chụp ảnh đẹp. Tuyến tàu xuất phát từ ga Mipo, chạy trên cung đường ray ôm lấy bờ biển phía Đông Nam của Busan. Vào những ngày nắng, trời trong xanh, khung cảnh ở đây như một thước phim anime Nhật Bản.<br>
                                            <br>
                                            <strong>- Chùa Haedong Yonggungsa </strong>– một ngôi chùa Phật giáo được xây dựng vào năm 1376. Là địa điểm hấp dẫn du khách thập phương bằng khung cảnh trầm mặc của mình.<br>
                                            <br>
                                            <strong>- Tháp Busan</strong> được xây dựng trên đỉnh núi Yongdu hùng vĩ, là ngọn tháp cao thứ hai tại Hàn Quốc. Khu vực đỉnh tháp được xây dựng theo hình viên kim cương lớn và lấp lánh. Tháp Busan là nơi lý tưởng để chiêm ngưỡng toàn cảnh vẻ đẹp của thành phố cảng sầm uất Busan. <strong>(bao gồm vé lên tháp)</strong>
                                        </p>

                                        <p style="text-align:justify">
                                            Đoàn dùng bữa tối và nhận phòng khách sạn nghỉ ngơi.&nbsp;<br>
                                            &nbsp;
                                        </p>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-05">Ngày 6 - BUSAN – TP HỒ CHÍ MINH                                                                            (Ăn sáng)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <p style="text-align:justify">Sau bữa sáng, đoàn làm thủ tục trả phòng. Hướng dẫn viên sẽ đưa Quý khách ra sân bay đón chuyến bay về lại TP Hồ Chí Minh. Đến sân bay Tân Sơn Nhất, Hướng dẫn viên chia tay đoàn. Kết thúc chuyến tham quan và hẹn gặp lại Quý khách trong những hành trình sau.</p>

                                        <p style="text-align:justify"><strong>Lưu ý: Tùy vào tình hình thực tế, thứ tự các điểm tham quan trong chương trình có thể được thay đổi nhưng vẫn đảm bảo đầy đủ các điểm tham quan như lúc đầu.</strong></p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><section class="section-08 mb-5"><div class="container-xl"><div class="row"><div class="col-md-6 col-12 left"><h2 class="mb-4">Chi tiết tour</h2><div class="tour"><div class="detail-tour"><h3 class="tt">Thông tin chuyến bay</h3><div class="detail-tour-inner">
    <div class="date"><span>Ngày đi - </span><b>01/07/2024</b></div><div class="time"><h4>23:50</h4><span>Bay thẳng</span><h4>06:40</h4></div><div class="from d-flex justify-content-between align-items-center col-12"><span class="col-md-4 small text-center">TP. Hồ Chí Minh</span><div class="row col-md-4"><img src="https://media.travel.com.vn/ImageAirlines/logo_VietNamAir.jpg" class="flight-logo" alt="prop"></div><span class="col-md-4 small text-center">SÂN BAY QUỐC TẾ  ICHEON, HÀN QUỐC</span></div><div class="from d-flex justify-content-between align-items-center col-12"><div class="col-md-4 small text-center">SGN</div><div class="row col-md-4"></div><div class="col-md-4 small text-center">ICN</div></div>
    <div class="p-line">
        <span><img src="/Content/images/Icons/go.png" style="width: 30%;" alt="prop"></span><span>
            <img src="/Content/images/Icons/airport.png" style="width: 30%;" alt="prop">
        </span><span><img src="/Content/images/Icons/to.png" style="width: 30%;" alt="prop"></span>
    </div><div class="cb">Ký hiệu chuyến bay<p> VN408</p></div>
</div><div class="detail-tour-inner comeback ">
    <div class="date"><span>Ngày về - </span><b>06/07/2024</b></div><div class="time"><h4>10:00</h4><span>Bay thẳng</span><h4>13:00</h4></div><div class="from d-flex justify-content-between align-items-center col-12"><span class="col-md-4 small text-center">BUSAN - KOREA</span><div class="row col-md-4"><img src="https://media.travel.com.vn/ImageAirlines/logo_VietNamAir.jpg" class="flight-logo" alt="prop"></div><span class="col-md-4 small text-center">TP. HỒ CHÍ MINH</span></div><div class="from d-flex justify-content-between align-items-center col-12"><div class="col-md-4 small text-center">PUS</div><div class="row col-md-4"></div><div class="col-md-4 small text-center">SGN</div></div>
    <div class="p-line">
        <span><img src="/Content/images/Icons/go.png" style="width: 30%;" alt="prop"></span><span>
            <img src="/Content/images/Icons/airport.png" style="width: 30%;" alt="prop">
        </span><span><img src="/Content/images/Icons/to.png" style="width: 30%;" alt="prop"></span>
    </div><div class="cb">Ký hiệu chuyến bay<p> VN423</p></div>
</div></div><div class="more-info more-info-1 mt-5"><h3 class="tt">Thông tin tập trung</h3><div class="block"><span>Ngày giờ tập trung</span><div class="info">20:50<p>01/07/2024</p></div></div><div class="block"><span>Nơi tập trung</span><div class="info">Sân bay</div></div></div></div></div><div class="col-md-6 col-12 right"><h2>Giá tour &amp; phụ thu phòng đơn</h2><div class="table-price"><table><tbody><tr><th class="l1">Loại khách</th><th class="l2">Giá tour</th></tr><tr><td>Người lớn (Từ 12 tuổi trở lên)</td><td class="t-price">22.990.000&nbsp;₫</td></tr><tr><td>Trẻ em (Từ 2 tuổi đến dưới 12 tuổi)</td><td class="t-price">17.992.500&nbsp;₫</td></tr><tr><td>Em bé (Dưới 2 tuổi)</td><td class="t-price">7.197.000&nbsp;₫</td></tr><tr class="total"><td>Phụ thu phòng đơn</td><td class="t-price">6.000.000&nbsp;₫</td></tr></tbody></table></div><h2 class="tt mt-3">Thông tin hướng dẫn viên</h2><div class="table-price"><div class="more-info more-info-2"><div class="block"><span>HDV dẫn đoàn</span><div class="info"><h3>TẤT TỬ KHÁNH CHÂU</h3><p>190 Pasteur, Phường Võ Thị Sáu, Quận 3, TP.HCM, Viet Nam</p></div></div><div class="block"><span>HDV tiễn</span><div>Đang cập nhật</div></div></div></div></div></div></div></section>
        </div>
           
    </div>


