


@{
    ViewBag.Title = "Pricing";
}
<head>
    <style>
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta name="geo.region" content="VN">
        <meta name="geo.position" content="10.77997, 106.694979">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="geo.placename" content="Hồ Chí Minh">
        <meta name="copyright" content="&amp;copy; travel.com.vn">
        <meta name="googlebot" content="all, index, follow">
        <meta name="pagerank" content="8">
        <meta name="Area" content="Hanoi, Saigon, HoChiMinh, Danang,  Vietnam, Nhatrang, Cantho">
        <meta name="revisit-After" content="1 days">
        <meta name="distribution" content="Global">
        <meta name="rating" content="general">
        <meta name="doc-type" content="web page">
        <meta name="pics-label" content="G">
        <meta name="serps" content="1, 2, 3, 10, 11, 12, 13, ATF">
        <meta name="seoconsultantsdirectory" content="8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-control" content="max-age:31536000">
        <meta property="fb:app_id" content="486170608123974">
        <meta property="fb:admins" content="863410417387561">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?display=swap">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css?display=swap" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="apple-touch-icon" href="/vietravel192.png">
        <link rel="manifest" href="/manifest.json">
        <link ref="stylesheet" href="/assets/hotelflight/styles/page-main.css">
        <title>Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel</title>
        <meta name="keywords" content="Bangkok, Pattaya, Thai Lan, Bảo tàng Lighting Art, Khao Che Chan, Wat Benchamabophit, Safari World ">
        <meta name="description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <link name="canonical" rel="canonical" href="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta property="og:title" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta property="og:description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <meta property="og:url" content="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta property="og:image" content="https://media.travel.com.vn/Destination/large/tf__230515102240_921101.jpg">
        <meta property="og:image:alt" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta property="og:type" href="https://travel.com.vn" content="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <link name="alternate" rel="alternate" href="https://travel.com.vn/tourNNSGN1351-034-270624VN-D/thai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau,-tham-quan-safari-world-bangkok,-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Thái Lan: Pattaya - Bangkok (Bảo tàng Lighting Art &amp; Vườn khinh khí cầu, Tham quan Safari World Bangkok, Đền Chân Lý &amp; Thưởng thức buffet Baiyoke Sky). Mã tour  - Vietravel">
        <meta name="twitter:description" content="Thiên đường du lịch Thái Lan nơi con người thân thiện và vui vẻ, đất nước nhiệt đới độc đáo, nền văn hóa và lịch sử lâu đời. Thái Lan tỏa sáng với những ngôi đền rực rỡ nguy nga, những bãi biển vàng và những nụ cười Thái Lan tươi thắm.. Mã tour ">
        <meta name="twitter:image" content="https://media.travel.com.vn/Destination/large/tf__230515102240_921101.jpg">
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-39GJVRHQ6K&amp;l=dataLayer&amp;cx=c"></script>
        <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-P3D5RK"></script>
        <script type="text/javascript">!function (e, t, a, n, g) { e[n] = e[n] || [], e[n].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var m = t.getElementsByTagName(a)[0], r = t.createElement(a); r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-P3D5RK", m.parentNode.insertBefore(r, m) }(window, document, "script", "dataLayer")</script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=GTM-P3D5RK" type="text/javascript"></script>
        <script type="text/javascript">function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "GTM-P3D5RK")</script>
        <script defer="defer" src="/static/js/main.fc754cba.js" type="text/javascript"></script>
        <link href="https://travel.com.vn/static/css/main.ff4a18b5.css" rel="stylesheet">
        <script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/10799997474/?random=1719111841469&amp;cv=11&amp;fst=1719111841469&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45je46j0v9117034688z86778132za200zb6778132&amp;gcd=13l3l3l3l1&amp;dma=0&amp;tag_exp=0&amp;u_w=1920&amp;u_h=1080&amp;url=https%3A%2F%2Ftravel.com.vn%2FtourNNSGN1351-034-270624VN-D%2Fthai-lan-pattaya-bangkok-bao-tang-lighting-art-vuon-khinh-khi-cau%2C-tham-quan-safari-world-bangkok%2C-den-chan-ly-thuong-thuc-buffet-baiyoke-sky.aspx&amp;ref=https%3A%2F%2Fwww.google.com.vn%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Th%C3%A1i%20Lan%3A%20Pattaya%20-%20Bangkok%20(B%E1%BA%A3o%20t%C3%A0ng%20Lighting%20Art%20%26%20V%C6%B0%E1%BB%9Dn%20khinh%20kh%C3%AD%20c%E1%BA%A7u%2C%20Tham%20quan%20Safari%20World%20Bangkok%2C%20%C4%90%E1%BB%81n%20Ch%C3%A2n%20L%C3%BD%20%26%20Th%C6%B0&amp;npa=0&amp;pscdl=noapi&amp;auid=1827847063.1719111646&amp;uaa=x86&amp;uab=64&amp;uafvl=Not%252FA)Brand%3B8.0.0.0%7CChromium%3B126.0.6478.114%7CMicrosoft%2520Edge%3B126.0.2592.68&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;fdr=QA&amp;data=event%3Dgtag.config&amp;rfmt=3&amp;fmt=4"></script>
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/442.eb55e9c6.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/678.378984e0.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/939.a4b76370.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/824.38c6e015.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/813.691deef7.chunk.css">
        <link rel="stylesheet" type="text/css" href="https://travel.com.vn/static/css/924.d3931808.chunk.css">
    </head>
    <style>
        .beautiful-title {
            font-size: 3em;
            color: #ffffff;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(135deg, #ff4081, #3f51b5);
            padding: 50px 40px;
            border-radius: 10px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s;
        }

            .beautiful-title:hover {
                transform: scale(1.05);
            }
    </style>
</head>

<div id="page">


    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="height:30%">
       
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">

                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1 class="beautiful-title">Lịch Trình</h1>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="container-xl">
        <div class="row">
            <h1 style="color:crimson; font-size:30px"> Hà Nội - Vịnh Hạ Long - Sapa - Bản Cát Cát - Fansipan (Khách sạn 4 sao)</h1>
        </div>
        <section class="section-02 "><div class="container "><div class="row animate__fadeIn animate__animated"><div class="col-lg-7 col-md-12 col-sm-12 left "><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_220516115059_199704.jpg" class="img-fluid" alt="image"></div></div><div class="col-lg-5 col-md-12 col-sm-12 right"><div class="row gy-4"><div class="col-md-12 col-12 small"><div class="row mb-2"><div class="col-6"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_220516115212_933558.jpg" class="img-fluid" alt="image"></div></div><div class="col-6"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_220516115340_883811.jpg" class="img-fluid" alt="image"></div></div></div></div><div class="col-md-12 col-12 big"><div class="image"><img src="https://media.travel.com.vn/Tour/tfd_220516115459_141196.jpg" class="img-fluid" alt="image"></div></div></div></div></div></div></section>
        <div class="overview active">
            <section class="section-03 mb-5"><div class="container"><div class="row"><div class="col-md-5 col-12 left"><p class="s-title-03 tour-des">Campuchia là quốc gia được mệnh danh “đất nước chùa tháp” chứa đựng bao điều bí ẩn làm mê đắm nhiều du khách. Nơi ấy, vẻ đẹp nguyên sơ của núi rừng, vẻ đẹp trong xanh của cát biển, dấu ấn huyền bí của những đền đài cung điện cổ xưa hay đơn giản là nụ cười hồn hậu của người dân xứ này….chắc hẳn sẽ lưu lại cho du khách những ấn tượng khó phai.</p><div class="box-order"><div class="time"><p>Khởi hành <b> 27/06/2024 - Giờ đi: 04:06</b></p><p>Tập trung <b>04:06 ngày 27/06/2024</b></p><p>Thời gian <b>4 ngày</b></p><p>Nơi khởi hành <b>TP. Hồ Chí Minh</b></p><p>Số chỗ còn nhận <b>9</b></p></div><div class="calendar"><div class="calendar-box"><i class="icon icon--calendar"></i></div></div></div><div class="box-support"><label>Quý khách cần hỗ trợ?</label><div class="group-contact"><a href="https://webcall.talking.vn/frame-click-to-call/new?code=tCEZl1-MKPuA6JU-czVAScCb0pPkHmPt" target="_blank" class="phone"><i class="icon icon--phone"></i><p>Gọi miễn phí <br>qua internet</p></a><a href="mailto:info@vietravel.com" class="mail"><i class="icon icon--mail"></i><p>Gửi yêu cầu <br>hỗ trợ ngay</p></a></div></div></div><div class="col-md-7 col-12 right"><div class="group-services"><div class="item"><label>Thời gian</label><p>4 ngày 3 đêm</p></div><div class="item"><label>Phương tiện di chuyển</label><p>Xe du lịch</p></div><div class="item"><label>Điểm tham quan</label><p>siem reap, Phnom Penh, Angkor wat, Angkor Thom, Chua Vang, Chua Bac, Hoang Cung</p></div><div class="item"><label>Ẩm thực</label><p>Buffet sáng, Theo thực đơn</p></div><div class="item"><label>Khách sạn</label><p>Khách sạn 4 sao</p></div><div class="item"><label>Thời gian lý tưởng</label><p>Quanh Năm</p></div><div class="item"><label>Đối tượng thích hợp</label><p>Người lớn tuổi, Cặp đôi, Gia đình nhiều thế hệ, Thanh niên</p></div><div class="item"><label>Ưu đãi</label><p>Đã ưu đãi trực tiếp vào giá tour</p></div></div></div></div></div></section><section class="section-04 mb-5">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-md-12 col-12 right">
                            <h2 class="mb-4">Điểm nhấn</h2><div class="info row">
                                <title></title><p>

                                    <title></title>


                                <p>&nbsp;</p>

                                <p>&nbsp;</p>


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="map-route">
            <section class="section-06 mb-5"><div class="container"><div class="row"><div class="col-md-12 col-12"><h2 class="mb-4">Lịch trình</h2></div></div></div></section><section class="section-07-map mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 d-none d-md-block col-12 left"><div class="go-tour"><div class="day day-001"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">1</span><span class="date-right"><span class="date">26/06/2024</span><span class="location">TP.HCM – SB NỘI BÀI – HÀ NỘI 02 bữa ăn: (Trưa, Chiều)</span></span></div></div><div class="day day-011"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">2</span><span class="date-right"><span class="date">27/06/2024</span><span class="location">HÀ NỘI – HẠ LONG 03 bữa ăn: (Sáng, Trưa, Chiều)</span></span></div></div><div class="day day-021"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">3</span><span class="date-right"><span class="date">28/06/2024</span><span class="location">HẠ LONG – LÀO CAI – SAPA    03 Bữa ăn: (Sáng, Trưa, Chiều)</span></span></div></div><div class="day day-031"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">4</span><span class="date-right"><span class="date">29/06/2024</span><span class="location">SAPA – FANSIPAN LEGEND – BẢN CÁT CÁT 03 bữa ăn: (Sáng, Trưa, Chiều)</span></span></div></div><div class="day day-041"><div class="wrapper"><span class="date-left"> Ngày </span><span class="date-center ">5</span><span class="date-right"><span class="date">30/06/2024</span><span class="location">SAPA – LÀO CAI – SB NỘI BÀI (HÀ  NỘI) 02 Bữa ăn: (Sáng, Trưa)</span></span></div></div></div></div><div class="col-md-8 col-12 right timeline-section">
                            <div>
                                <h3 id="day-00">Ngày 1 - TP.HCM – SB NỘI BÀI – HÀ NỘI 02 bữa ăn: (Trưa, Chiều)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <div style="text-align:justify">
                                            <div>
                                                <div style="text-align:justify">Quý khách tập trung tại sân bay Tân Sơn Nhất (Ga nội địa), hướng dẫn viên hỗ trợ khách làm thủ tục đáp chuyến bay đi Hà Nội. Đến sân bay Nội Bài, xe và HDV Vietravel đón Quý khách đi Hà Nội. Xe đưa Quý khách đi tham quan:</div>

                                                <ul>
                                                    <li style="text-align:justify">
                                                        <div><strong>Hoàng thành Thăng Long:</strong> quần thể công trình kiến trúc đồ sộ được các triều vua xây dựng trong nhiều giai đoạn lịch sử và trở thành di tích quan trọng bậc nhất trong hệ thống các di tích Việt Nam.</div>
                                                    </li>
                                                    <li style="text-align:justify">
                                                        <div><strong>Văn Miếu</strong>: nơi thờ Khổng Tử và các bậc hiền triết của Nho Giáo, <strong>Quốc Tử Giám</strong> - trường đại học đầu tiên của Việt Nam, tìm về cội nguồn lịch sử của các vị Nho học.</div>
                                                    </li>
                                                    <li style="text-align:justify">
                                                        <div><strong>Hồ Hoàn Kiếm</strong> ngắm bên ngoài <strong>Tháp Rùa, Đền Ngọc Sơn, Cầu Thê Húc</strong>.</div>
                                                    </li>
                                                </ul>

                                                <div style="text-align:justify">Quý khách nhận phòng khách sạn nghỉ ngơi hoặc tự do đi tham quan phố cổ Hà Nội.</div>

                                                <div style="text-align:right"><strong>Nghỉ đêm tại Hà Nội. &nbsp;</strong></div>
                                            </div>
                                        </div>

                                        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-01">Ngày 2 - HÀ NỘI – HẠ LONG 03 bữa ăn: (Sáng, Trưa, Chiều)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <div style="text-align:justify">
                                            <div>
                                                <div style="text-align:justify">Quý khách ăn sáng và trả phòng.&nbsp; Xe khởi hành đi Hạ Long theo đường cao tốc Hải Phòng – Hạ Long, trên đường ngắm cảnh Bạch Đằng Giang.</div>

                                                <div style="text-align:justify">Đến nơi, Quý khách dùng cơm trưa và xuống thuyền đi du ngoạn <strong>Vịnh Hạ Long</strong> - Thắng cảnh thiên nhiên tuyệt đẹp và vô cùng sống động, được UNESCO công nhận là di sản thiên nhiên Thế giới năm 1994.</div>

                                                <ul>
                                                    <li style="text-align:justify">
                                                        <div><strong>Động Thiên Cung</strong> là một trong những động đẹp nhất ở Hạ Long. Vẻ đẹp nguy nga và lộng lẫy bởi những lớp thạch nhũ và những luồng ánh sáng lung linh.</div>
                                                    </li>
                                                    <li style="text-align:justify">
                                                        <div>Từ trên tàu ngắm nhìn các hòn đảo lớn nhỏ trong Vịnh Hạ Long: <strong>Hòn Gà Chọi, Hòn Lư Hương</strong>.</div>
                                                    </li>
                                                    <li style="text-align:justify">
                                                        <div>Tham quan mua sắm đặc sản tại Hải Sản Hương Đà Hạ Long với nhiều mặt hàng nổi tiếng chả mực giã tay Hạ Long, thịt chưng mắm tép, ruốc tôm, sá sùng khô, cá cơm, cá chỉ vàng,..</div>
                                                    </li>
                                                </ul>

                                                <div style="text-align:justify">
                                                    <p>Quý khách dùng cơm tối và nhận phòng khách sạn nghỉ ngơi. Buổi tối, Quý khách tự do khám phá nhiều hoạt động dịch vụ giải trí sôi nổi tại “phố cổ” Bãi Cháy - nằm cạnh công viên Sun World Hạ Long từ những ẩm thực đường phố đến các quán cà phê siêu dễ thương như Hòn Gai Coffee &amp; Lounge hay thoải mái bung xõa tại The Mini Bar, Brothers Pub,..</p>

                                                    <p style="text-align:right">
                                                        <br>
                                                        <strong>Nghỉ đêm tại Hạ Long.</strong>
                                                    </p>

                                                    <p>
                                                        Hoặc lựa chọn một số dịch vụ khám phá Hạ Long về đêm (tự túc phương tiện và chi phí tham quan):<br>
                                                        - Trải nghiệm dịch vụ Cáp Treo Nữ Hoàng tại<strong> Sun World Hạ Long Complex trên Núi Ba Đèo, </strong>chiêm ngưỡng cảnh đẹp về đêm của thành phố Hạ Long dưới ánh đèn lung linh (thời gian hoạt động cáp treo dự kiến từ 10h đến 18h các ngày thứ 7 và CN)<br>
                                                        &nbsp;
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-02">Ngày 3 - HẠ LONG – LÀO CAI – SAPA    03 Bữa ăn: (Sáng, Trưa, Chiều)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <div style="text-align:justify">
                                            <div>
                                                <div style="margin-right:2px; text-align:justify">
                                                    Quý khách ăn sáng và trả phòng khách sạn. Xe khởi hành đưa Quý khách đi Sapa, trên đường dừng tham quan <strong>mua sắm đặc sản Tây Bắc&nbsp;</strong>và dùng cơm trưa tại nhà hàng địa phương. &nbsp;<br>
                                                    <br>
                                                    Đến nơi, Quý khách dùng cơm tối và nhận phòng nghỉ ngơi hoặc tự do dạo phố<strong> ngắm nhà thờ Đá Sapa</strong>, tự do thưởng thức đặc sản vùng cao như: <strong>thịt lợn cắp nách nướng, trứng nướng, rượu táo mèo, giao lưu với người dân tộc vùng cao.</strong>
                                                </div>

                                                <div style="margin-right:2px; text-align:right">
                                                    <br>
                                                    <strong>Nghỉ đêm tại Sapa.&nbsp;</strong><br>
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-03">Ngày 4 - SAPA – FANSIPAN LEGEND – BẢN CÁT CÁT 03 bữa ăn: (Sáng, Trưa, Chiều)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <div style="text-align:justify">
                                            <div style="text-align:justify">Quý khách dùng điểm tâm sáng tại khách sạn. xe đưa đoàn ra ga Sapa, Quý khách trải nghiệm đến khu du lịch <strong>Fansipan Legend</strong> bằng <strong>Tàu hỏa leo núi Mường Hoa</strong> hiện đại nhất Việt Nam với tổng chiều dài gần 2000m, thưởng ngoạn bức tranh phong cảnh đầy màu sắc của cánh rừng nguyên sinh, thung lũng Mường Hoa.</div>

                                            <ul>
                                                <li style="text-align:justify">
                                                    <div>Chinh phục đỉnh núi Fansipan với độ cao 3.143m hùng vĩ bằng cáp treo (chi phí tự túc).</div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div>Lễ Phật tại <strong>c</strong><strong>hùa Trình</strong> hay cầu phúc lộc, bình an cho gia đình tại <strong>Bích Vân Thiền Tự</strong> trong hệ thống cảnh quan tâm linh trên đỉnh Fansipan.</div>
                                                </li>
                                            </ul>

                                            <div style="text-align:justify">Tiếp tục hành trình, Quý khách dùng cơm trưa và tham quan:</div>

                                            <ul>
                                                <li style="text-align:justify">
                                                    <div><strong>Bản Cát Cát</strong> - đẹp như một bức tranh giữa vùng phố cổ Sapa, nơi đây thu hút du khách bởi cầu treo, thác nước, guồng nước và những mảng màu hoa mê hoặc du khách khi lạc bước đến đây. Thăm những nếp nhà của người Mông, Dao, Giáy trong bản, du khách sẽ không khỏi ngỡ ngàng trước vẻ đẹp mộng mị của một trong những ngôi làng cổ đẹp nhất Sapa.</div>
                                                </li>
                                            </ul>

                                            <div style="margin-right:2px; text-align:justify">Quý khách dùng cơm tối tại Sapa và tự do nghỉ ngơi.</div>

                                            <div style="text-align:right"><strong>Nghỉ đêm tại Sapa.</strong></div>

                                            <div style="margin-right:2px; text-align:justify"><strong><em>Lưu ý:</em></strong><em> Trong trường hợp, Fansipan không hoạt động chương trình sẽ được thay thế bằng điểm tham quan Cầu Kính Rồng Mây (không bao gồm vé tham quan).</em></div>
                                        </div>

                                        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
                                    </div>
                                </div>
                            </div><div>
                                <h3 id="day-04">Ngày 5 - SAPA – LÀO CAI – SB NỘI BÀI (HÀ  NỘI) 02 Bữa ăn: (Sáng, Trưa)</h3><div class="excerpt">
                                    <span class="line"></span><div>

                                        <title></title>


                                        <div style="text-align:justify">
                                            <div>Quý khách ăn sáng và trả phòng khách sạn. Theo cung đường cao tốc ra sân bay Nội Bài. Trên đường quý khách dừng chân tại Tp Lào Cai ăn trưa và chụp ảnh kỷ niệm tại Cửa khẩu biên giới <strong>Việt - Trung</strong>&nbsp;<strong>“Lào Cai- Hà Khẩu”</strong>.&nbsp; Đến nơi, Hướng dẫn viên hỗ trợ Quý khách làm thủ tục đón chuyến bay về Tp.HCM. Chia tay Quý khách và kết thúc chương trình du lịch tại sân bay Tân Sơn Nhất.</div>
                                        </div>

                                        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section><section class="section-08 mb-5">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-md-6 col-12 left">
                            <h2 class="mb-4">Chi tiết tour</h2><div class="tour">
                                <div class="detail-tour">
                                    <h3 class="tt">Thông tin hãng xe</h3><div class="detail-tour-inner">
                                        <div class="date"><span>Ngày đi - </span><b>27/06/2024</b></div><div class="from"><h4>TP. Hồ Chí Minh<span>(Địa điểm)</span></h4><h4>Nội Bài<span>(Địa điểm)</span></h4></div><div class="p-line">
                                            <span><img src="/Content/images/Icons/go.png" style="width: 30%;" alt="prop"></span><span>
                                                <img src="/Content/images/Icons/airport.png" style="width: 30%;" alt="prop">
                                            </span><span><img src="/Content/images/Icons/to.png" style="width: 30%;" alt="prop"></span>
                                        </div><div class="time"><h4>04:30</h4><span>Đi thẳng</span><h4>09:00</h4></div>
                                    </div><div class="detail-tour-inner comeback ">
                                        <div class="date"><span>Ngày về - </span><b>30/06/2024</b></div><div class="from"><h4>Nội Bài<span>(Địa điểm)</span></h4><h4>TP. Hồ Chí Minh<span>(Địa điểm)</span></h4></div><div class="p-line">
                                            <span><img src="/Content/images/Icons/go.png" style="width: 30%;" alt="prop"></span><span>
                                                <img src="/Content/images/Icons/airport.png" style="width: 30%;" alt="prop">
                                            </span><span><img src="/Content/images/Icons/to.png" style="width: 30%;" alt="prop"></span>
                                        </div><div class="time"><h4>09:00</h4><span>Đi thẳng</span><h4>04:30</h4></div>
                                    </div>
                                </div><div class="more-info more-info-1 mt-5"><h3 class="tt">Thông tin tập trung</h3><div class="block"><span>Ngày giờ tập trung</span><div class="info">04:15<p>27/06/2024</p></div></div><div class="block"><span>Nơi tập trung</span><div class="info"> Vietravel </div></div></div>
                            </div>
                        </div><div class="col-md-6 col-12 right"><h2>Giá tour &amp; phụ thu phòng đơn</h2><div class="table-price"><table><tbody><tr><th class="l1">Loại khách</th><th class="l2">Giá tour</th></tr><tr><td>Người lớn (Từ 12 tuổi trở lên)</td><td class="t-price">6.490.000&nbsp;₫</td></tr><tr><td>Trẻ em (Từ 2 tuổi đến dưới 12 tuổi)</td><td class="t-price">4.867.000&nbsp;₫</td></tr><tr><td>Em bé (Dưới 2 tuổi)</td><td class="t-price">1.947.000&nbsp;₫</td></tr><tr class="total"><td>Phụ thu phòng đơn</td><td class="t-price">2.500.000&nbsp;₫</td></tr></tbody></table></div><h2 class="tt mt-3">Thông tin hướng dẫn viên</h2><div class="table-price"><div class="more-info more-info-2"><div class="block"><span>HDV dẫn đoàn</span><div class="info"><h3>LÊ HOÀI NAM</h3><p>190 Pasteur, Phường Võ Thị Sáu, Quận 3, TP.HCM, Viet Nam</p></div></div><div class="block"><span>HDV tiễn</span><div>Đang cập nhật</div></div></div></div></div>
                    </div>
                </div>
            </section>
        </div>


    </div>


